
.header{
    background-color: #e0efff;
    display:flex;
    justify-content: space-between;
}
.images{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.social{
    display:flex;
    justify-content:flex-end;
}
h1{
    font-style: oblique;
    font-size: xxx-large;
    color:cornflowerblue;
    margin-left:750px;
}
.school a{
    margin-right:500px;
    display:flex;
    justify-content:space-around;
}
h2,p{
    text-align:center;
}

body{
    background-image: url('bg.jpeg');
    font-size: large;
}